a {
  text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* FIXME: doesn't work */
iframe {
  max-width: 100% !important;
  width: auto !important;
  height: auto !important;
}

body {
  font-size: 100%;
}

.header {
  padding: 0.5em;
  background-color: LightGray;
}

.author {
  margin-bottom: 1em;
  font-style: italic;
}

.image {}

.content {}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 125%;
}

h3 {
  font-size: 100%;
}