<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
  <head>
    <meta name="x-apple-disable-message-reformatting">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= styles %>
  </head>
  <body>
    <div class="header"><%= subscription.final_title.to_html %> [<%= subscription.id.to_html %>]</div>
    <h1><%= item.title.to_html %></h1>
    <h2><%= item.byline.to_html %></h2>
    <h3><a href="<%= item.uri %>"><%= item.uri.prettify.to_html %></a></h3>
    <div class="content"><%= item_content_html %></div>
  </body>
</html>