body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  width: 100% !important;
  height: auto;
}

.header {
  margin: 1em 0 1em 0;
  padding: 0.5em;
  background-color: LightGray;
}

.content {}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 125%;
}

h3 {
  font-size: 100%;
}

.blockquote {
  margin: 1em;
}