a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-size: 100%;
}

.bar {
  margin: 1em 0 1em 0;
  padding: 0.5em;
  background-color: LightGray;
}

.subscription-title {
  font-weight: bold;
}

.author {
  font-style: italic;
}

.subscription-site {
}

.content {}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 125%;
}

h3 {
  font-size: 100%;
}